
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
}
body{
    background: #f4f4f4;
}
.hero-content {
    height: 100vh;
    background: url(PicsArt_07-16-02.20.50.jpg)no-repeat;
    background-position: center;
    background-size: cover;
}
.hero{
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 38%;
    display: inline-block;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #fff;
}
.navbar1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar1 img{
    height: 100px;
    width: 100px;
    margin-right: 70px;
    padding-left: 40px;
}
ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
}
ul a{
    text-decoration: none;
    color: rgb(224, 26, 26);
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
}
.navbar2 {
    color: white;
    font-size: 24px; 
    padding-right: 100px; 
}
.navbar2 i{
    margin-right: 20px;
    color: #ee3000;
}
input {
    width: 170px;
    height: 20px;
    border-radius: 5px;
    border-color: #ee3000;
    outline: none;
    background: #ffffff;
}
.hero h1{
    font-family: 'Dancing Script', sans-serif;
    font-size: 30px;
    color: #fff;
    margin: 10px;
}
.hero p{
    padding: 0 20px;
    color: #fff;

}
.btn3{
    height: 35px;
    width: 160px;
    padding: 3px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 14px;
}
.btn3 a{
     text-decoration: none;
     font-weight: 600px;
     color: #000;
}
.btn4{
    height: 35px;
    width: 160px;
    padding: 5px;
    margin-bottom: 30px;
    cursor: pointer;
    font-size: 14px;
}
.btn4 a{
     text-decoration: none;
     font-weight: 600px;
     color: #000;
}
.btn3:hover a:hover{
    background-color: transparent;
    color: #ffffff;
}
.btn3:hover{
    background-color: transparent;
}
.destinations{
    padding: 50px 0;
    text-align: center;    
    background: #f2e6ee;
}
.explore {
   padding-top: 20px;
   text-align: center;
   margin-bottom: 30px;
   font-family: 'Inter', sans-serif;
   font-size: 20px;
   text-transform: capitalize;
   padding-left: 10px;
   padding-right: 10px;
}

.destination1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 30px;
    padding: 50px 20px;
}
.card{
    border-radius: 8px;
    box-shadow: 8px 4px 15px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    background-color: #fff;
    text-align: center;
}
.card:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}
.card img:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}
.card h5 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 10px;
}
.card h2{
    padding-left: 10px;
    font-family: 'Poppins';
    font-weight: 400;
    margin-bottom: 5px;
}
.card p{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    margin-bottom: 5px;
    color: #333;
}
.btn {
    height: 27px;
    width: 110px;
    position: relative;
    text-align: center;
    font-family: 'Dancing Script';
    background-color: #474444;
}
.btn a{
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    font-weight: 700;
}
.packages h2{
    background-color: #f0f0f000;
    padding: 50px 0;
    text-align: center;
}
.packages{
    background: url(everest.webp) no-repeat;
    background-position: center;
    background-size: cover;
}
.package-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr)); 
    padding: 50px 20px;
    gap: 20px;
}
.package-card {
    background-color: #f2f5f8;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    overflow: hidden;
    text-align: center;
}
.package-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}
.package-card h3 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 1.6em;
    color: #333;
}
.package-card ul {
    list-style: none;
    padding: 0 20px;
    margin-bottom: 20px;
    text-align: left;
}
.package-card ul li i {
    color: #e64922;
    margin-right: 10px;
    width: 20px; 
    text-align: center;
}
.package-card ul li {
    margin-bottom: 8px;
    font-size: 0.95em;
    color: #555;
}
.package-card .price {
    font-size: 2em;
    font-weight: bold;
    color: #43515a;
    margin-bottom: 25px;
}
.package-card p{
    font-size: 22px;
    font-weight: bold;
    font-family: 'Poppins';
    margin-bottom: 25px;
}
.package-card p span{
    font-size: 15px;
    color: #ee3000;
}
.testimonies{
    padding: 50px 20px;
    text-align: center;
    background-color: #f2e6ee;
}
.testimonies h2{
    font-size: 32px;
    margin-bottom: 30px;
    color: #333;
}
.testimonies-container{
    width: 100%;
    flex-direction: column;
}
.testimony-card {
    background-color: #fff;
    box-shadow: 0 4px 8px green;
    border-radius: 10px;
    display: inline-block;
    align-items: center;
    width: 250px;
    height: auto;
    margin-right: 35px;
}
.testimony-card img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    margin: 13px 0;
    box-shadow: 0px 4px 8px green;
}
.content{
    padding: 15px;
    text-align: center;
}
.description{
    font-size: 16px;
    color: #555;
    line-height: 1.2;
    margin-bottom: 15px;
}
.testimony-card h4{
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}
.location{
    font-size: 15px;
    color: #777;
}
.cta-section {
    background: #0000009f;
    color: #fff;
    text-align: center;
    padding-left: 20px;
    margin: 10px 0; 
    height: 60vh;
}

.cta-content {
    margin: 0 auto;
}

.cta-section .cta-content h2 {
    font-size: 2.8em;
    color: #fff; 
    padding-top: 50px;
    margin-bottom: 20px;
}

.cta-section p {
    font-size: 1.5em;
    margin-bottom: 40px;
    line-height: 1.8;
}

.cta-content .cta{
    height: 38px;
    width: 170px;
    text-align: center;
    padding: 5px;
    margin-bottom: 30px;
    cursor: pointer;
    font-size: 14px;
    display: inline;
    margin-right: 30px;
}
.cta a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
@media screen and (max-width: 767px){
     .navbar li{
        font-size: 5px;
        gap: 6px;
    }
    .navbar1 img{
        height: 80px;
        width: 80px;
        padding-left: 5px;
        margin-right: 10px;
    }
    .navbar2{
        display: none;
    }
     input{
        display: none;
    }
    .navbar1 ul li a{
        gap: 5px;
        font-size: 15px;
        font-weight: 300;
    }
    .navbar::-webkit-scrollbar{
        display: none;
    }
    .navbar{
    width: 100%;
    justify-content: space-between;
}
.hero-content{
        text-align: center;
        height: 80vh;
        max-width: 100%;
        overflow: hidden;
    }
    .hero-content h1{
        font-size: 20px;
        font-weight: 300;
    }
        .explore {
        padding: 0 10px;
    }
    .card{
        position: relative;
        height: 270px;
        width: 70%;
        left: 13%;
    }
    .card h5{
        font-size: 12px;
        margin-top: 3px;
        margin-bottom: 0;
    }
    .card h2{
        font-size: 15px;
        margin-top: 3px;
        margin-bottom: 2px;
    }
    .card p{
        font-size: 10px;
        text-align: center;
        margin-bottom: 10px;
        text-align: center;
    }
    
    .card img{
        height: 140px;      
    }
    .destination1{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
        gap: 20px;
        position: center;
        flex-direction: column;
    }
    .testimony-card{
        margin-bottom: 25px;
        position: relative;
        left: 4.6%;
    }
    .cta-section {
        height: auto;
}
.package-grid {
    padding: 50px 16px;
}
}
@media screen and (min-width: 768px) {
    input{
        margin-left: 40px;
    }
    .navbar2 i{
        display: none;
    }
    .hero h1{
        font-size: 50px;
        margin: 20px;
    }

    .hero{
        padding: auto;
    }
    .navbar1 ul li a{
        font-size: 20px;
    }
    .hero p{
        padding: 0 25px;
        font-size: 35px;
        margin-bottom: 10px;
    }
    .btn3{
        height: 45px;
        width: 180px;
        font-size: 17px;
    }
    .explore{
        font-size: 30px;
    }
    .destination1{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    }
    .card {
        height: 430px;
    }
    .card p{
        margin-bottom: 18px;
    }
    .testimony-card{
        margin-bottom: 40px;
        width: 300px;
        height: auto;
    }
    .description{
        font-size: 18px;
    }
    .cta-content{
        margin-top: 20px;
    }
    .cta-content p{
        font-size: 1.6em;
    }
    .cta{
        height: 45px;
        width: 190px;
    }
}
